<%- include('partials/header'); %>
<div class="form">
    <h1><%- title %></h1>
    <div id="infoMessage"></div>
    <form class="form-horizontal" role="form" method="POST" action="/auth/reset-password">
        <div class="form-group">
            <label for="email">E-Mail Address</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="vijendra3582@gmail.com" value="" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="********" required>
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirm Password</label>
            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="********" required>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="Reset" />
        </div>
        <div class="form-group"> <a href="/auth/login"> Wanna login to your account ? </a> </div>
    </form>
</div>
<%- include('partials/footer'); %>
